/* TBD custom css not working... see config in toml */

.right {
    float:right;
    max-width: 40%;
    margin-left: 5px
}

.left {
    float:left;
    max-width: 40%;
    margin-right: 20px
}

.center {
    display: block;
    margin: auto;
    text-align: center;
}
